/* Import the CSS file with: 
   <link rel="stylesheet" href="myStyle.css">   */

/* Tester Code */
body{
    background-color: bisque;
    width: 100%;
    height: auto;
    margin: auto;
}

h1{
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

.tags{
    overflow: hidden;
    background-color: orange;
}

.tags a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tags a:hover{
    background-color: white;
    color: orange;
}

/*Planner Classes*/

.row:after {
   content: "";
   display: table;
   clear: both;
}

.column {
   float: left;
   width: 50%;
}

.plan animate-opacity {
    animation:opac 0.8s
}@keyframes opac{from{opacity:0} to{opacity:1}}

.plan {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plan table{
    table-layout: fixed;
    background-color: orange;
    border-spacing: 0px;
   
}

.plan tr{
    height:100%;
    vertical-align: text-top;
    font-size: 20px;
    border-style: solid;
}

.plan td{
    height: 100%;
    overflow: hidden;
    vertical-align: text-top;
    text-align: left; 
    background-color: #ECCE77;
}

.plan p{
    font-size: 25px;
    font-weight: bold;
    text-indent: 10px;
    text-align: left;
}

.plan footer{
    font-size: 25px;
    text-indent: 10px;
    text-align: left;
}

.plan button{
    text-align: center;
    border: none;
    font-size: 24px;
    background-color: #ECCE77;
    transition-duration: 0.4s;
}

.plan button:hover {
    background-color: white;
}

.plan img{
    width: auto;
    height: auto;
}

.plan button1{
    text-align: center;
    border: none;
    font-size: 24px;
    background-color: #ECCE77;
    width: 100%;
    height: 70%;
}

.plan button1:hover {
    background-color: white;
}

.img2 {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.square {
     position: relative;
     width: 200px;     
     height: 200px;
     overflow: hidden;
}


.topleft {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

/*Grocery List Classes*/
.grocer-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grocer-container ul{
    font-size: 25px;
    margin: 50px;
    text-align: center;
    font-weight: bold;
}

.grocer-container li{
    list-style-type: none;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.addNewGrocer button{
    text-align: center;
    margin-top: 10px;
    margin-left: 50%;
    background-color: rgba(107, 209, 6, 0.651);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.addNewGrocer button:hover {
    border: solid black;
}

#textBoxGrain input[type=text], #textBoxBev input[type=text], #textBoxVeg input[type=text]{
    border: solid orange 2px;
    font-size: 15px;
    width: 60px;
}

#textBoxMeat input[type=text], #textBoxFru input[type=text], #textBoxDai input[type=text]{
    border: solid orange 2px;
    font-size: 15px;
    width: 60px;
}

#textBoxGrain input[type=submit], #textBoxBev input[type=submit],#textBoxVeg input[type=submit]{
    background-color: orange;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#textBoxMeat input[type=submit], #textBoxFru input[type=submit],#textBoxDai input[type=submit]{
    background-color: orange;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#textBoxGrain, #textBoxBev,#textBoxVeg, #textBoxMeat,#textBoxFru, #textBoxDai{
    margin-left: 5px;
    display: none;
}

#print{
    float: right;
    background-color: orange;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Favorites page class*/

.container {
    width: 1000px;
    height: 820px;
    display: inline-grid;
    background-color: bisque;
}

.containerTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    float: left;
    padding-left: 1.5em;
    padding-top: .5em;
}

.card1 {
    width: 50em;
    height: 10em;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-left: 5em;
    margin-top: 5em;
}

.card1View {
    width: 50em;
    height: 30em;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-left: 5em;
    margin-top: -15em;
    position: relative;
}

.card2 {
    width: 700px;
    height: 100px;
    right: -30%;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -10.5em;
    margin-right: 40em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card2View {
    width: 320px;
    height: 300px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -22em;
    justify-content: center;
    align-items: center;
    position: relative;    
}

.card3 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -10.5em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.recipe{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10em;
}

.filler {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    float: right;
    text-align: left;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: .5em;
}

.recipeTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    float: left;
    margin-left: 11em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.recipeDesc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    float: left;
    text-align: left;
    padding-left: 12.5em;
    width: 60%;
    margin-top: -.5em;
}

.foodPic {
    width: 13em;
    height: 12em;
    position: absolute;
    margin-top: -.85em;
    margin-left: -.5em;  
}

#view {
    width: 5em;
    height: 2em;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    float: left;
    margin-top: -5em;
}

#view:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#view2 {
    width: 5em;
    height: 2em;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    float: left;
    margin-top: -5em;
}

#new {
    position: absolute;
    top: 12em;
    left: 48%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightyellow;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}
#f2new {
    position: absolute;
    top: 12em;
    left: 48%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightyellow;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#new:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#cardGoBack {
    width: 10em;
    position: absolute;
    bottom: 5%;
    right: 6%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#addPlan {
    width: 10em;
    position: absolute;
    bottom: 5%;
    right: 25%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#goBack {
    width: 8em;
    position: absolute;
    bottom: 20%;
    left: 10%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#addRecipe {
    width: 8em;
    position: absolute;
    bottom: 20%;
    right: 10%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

#add {
    width: 5em;
    height: 2em;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    float: left;
    margin-top: -1.25em;
}

#add:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}
