/* Import the CSS file with: 
   <link rel="stylesheet" href="myStyle.css">   */

/* Tester Code */
body{
    background-color: bisque;
}

h1{
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

.tags{
    overflow: hidden;
    background-color: orange;
}

.tags a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 20px;
}

.tags a:hover{
    background-color: white;
    color: orange;
}

/*Planner Classes*/

.plan {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plan table{
    width: 100%;
    border: 1px orange;
    background-color: #ECCE77;
}

.plan tr{
    vertical-align: text-top;
    font-size: 20px;
    border-style: solid;
}

.plan td{
    vertical-align: text-top;
    text-align: left;
}

.plan p{
    font-size: 25px;
    font-weight: bold;
    text-indent: 10px;
    text-align: center;
}

.plan button{
    text-align: center;
    border: none;
    font-size: 24px;
    background-color: #ECCE77;
}

.plan img{
    align: center;
    width: 50%;
    height: 50%:
}

.button1{
    text-align: center;
    border: none;
    font-size: 24px;
    background-color: #ECCE77;
    width: 100%;
    height: 70%;
}

/*Grocery List Classes*/
.grocer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grocer ul{
    font-size: x-large;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.grocer li{
    list-style-type: none;
    text-align: center;
    font-size: large;
    font-weight: normal;
}

.addNewGrocer button{
    text-align: center;
    margin-top: 10px;
    margin-left: 50%;
    background-color: rgba(107, 209, 6, 0.651);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 25px;
}

.addNewGrocer button:hover {
    border: solid black;
}

#textBox{
    margin-left: 25%;
}