body {
    margin: 0;
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    height: 820px;
    display: inline-grid;
    /*justify-content: center;*/
    background-color: bisque;
}

.containerTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    padding-left: 2em;
    padding-right: 2.5em;
    padding-top: .5em;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

#active {
    text-decoration: underline;
    background-color: rgb(81, 103, 134) ;
}

.card1 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    right: 35%;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card12 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -4em;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card1View {
    width: 320px;
    height: 300px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -8em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card2 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: 1em;
    right: 35%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.card22 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -2em;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card2View {
    width: 320px;
    height: 300px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -13.5em;
    justify-content: center;
    align-items: center;
    position: relative;    
}

.card3 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: .5em;
    right: 35%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.card32 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -2em;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card3View {
    width: 320px;
    height: 300px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -8em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card4 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    right: 35%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.suggest {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    float: right;
    padding-left: .7em;
    padding-top: .5em;
    text-decoration: underline;
}

.recipeTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.15em;
    float: right;
    padding-right: .5em;
    padding-top: .5em;
}

.recipeDesc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    float: right;
    text-align: right;
    padding-right: .5em;
    width: 60%;
    margin-top: -.5em;
}

.filler {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    float: right;
    text-align: left;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: .5em;
}

.foodPic {
    width: 7em;
    height: 7em;
    position: absolute;
    
}

#cardGoBack {
    width: 10em;
    position: absolute;
    bottom: 5%;
    right: 11%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#new {
    position: absolute;
    bottom: 1%;
    left: 15%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#new:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#goBack {
    width: 10em;
    position: absolute;
    bottom: 5%;
    left: 9.5%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#view {
    width: 6.5em;
    position: absolute;
    bottom: 7%;
    right: 3%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#addPlan {
    position: absolute;
    width: 6.5em;
    bottom: 5%;
    left: 15%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#addPlan:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#view:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#add {
    width: 6.5em;
    position: absolute;
    bottom: 7%;
    right: 37%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#add:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .tags{
    overflow: hidden;
    background-color: orange;
}

.tags a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 20px;
}

.tags a:hover{
    background-color: white;
    color: orange;
}


