/*
colors
reddish-orange: #e7a272
cream: #f2dab1
blue: #79a89e
*/

body {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: bisque;
}

.suggest1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    float: left;
    margin-left: -4.8em;
    text-decoration: underline;
}

.suggest {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    float: left;
    margin-left: 1.8em;
    text-decoration: underline;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

#active {
    text-decoration: underline;
    background-color: rgb(81, 103, 134) ;
}

.card1 {
    width: 50em;
    height: 10em;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-left: 5em;
    margin-top: 5em;
}

.card12 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -4em;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card1View {
    width: 320px;
    height: 300px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -8em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card2 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: 1em;
    right: 35%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.card22 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -2em;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card2View {
    width: 320px;
    height: 300px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -13.5em;
    justify-content: center;
    align-items: center;
    position: relative;    
}

.card3 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: .5em;
    right: 35%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.card32 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -2em;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card3View {
    width: 320px;
    height: 300px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: -8em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card4 {
    width: 320px;
    height: 100px;
    background-color: lightyellow;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    margin: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    right: 35%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.containerTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    float: left;
    padding-left: 1em;
    padding-top: .2em;
}

.recipeTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    float: left;
    margin-left: 11em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.recipeDesc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    float: left;
    text-align: left;
    padding-left: 12.5em;
    width: 60%;
    margin-top: -.5em;
}

.filler {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    float: right;
    text-align: left;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: .5em;
}

.foodPic {
    width: 13em;
    height: 13em;
    position: absolute;
    margin-top: -1.5em;
    margin-left: -.5em;
    
}

#cardGoBack {
    width: 10em;
    position: absolute;
    bottom: 5%;
    right: 11%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#new {
    position: absolute;
    bottom: 1%;
    left: 15%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#new:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#goBack {
    width: 10em;
    position: absolute;
    bottom: 5%;
    left: 9.5%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#view {
    width: 5em;
    height: 2em;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    float: left;
    margin-top: -5em;
}

#addPlan {
    position: absolute;
    width: 6.5em;
    bottom: 5%;
    left: 15%;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
}

#addPlan:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#view:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

#add {
    width: 5em;
    height: 2em;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: lightgray;
    box-shadow: .2em .2em .2em rgba(68, 68, 68, 0.6);
    float: left;
    margin-top: -1.25em;
}

#add:hover {
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}
  
  .tags{
    overflow: hidden;
    background-color: orange;
}

.tags a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 20px;
}

.tags a:hover{
    background-color: white;
    color: orange;
}


